<div *ngIf="currentProduct.productId; else noProduct">
  <div *ngIf="!viewMode">
    <div class="edit-form">
      <h4>Product Details</h4>
      <form>
        <div class="form-group">
          <label for="productName">Product Name</label>
          <input
            type="text"
            class="form-control"
            id="productName"
            [(ngModel)]="currentProduct.productName"
            name="productName"
          />
        </div>
        <div class="form-group">
          <label for="productDescription">Product Description</label>
          <input
            type="text"
            class="form-control"
            id="productDescription"
            [(ngModel)]="currentProduct.productDescription"
            name="productDescription"
          />
        </div>
        <div class="form-group">
          <label for="productPrice">Price</label>
          <input
            type="number"
            class="form-control"
            id="productPrice"
            [(ngModel)]="currentProduct.productPrice"
            name="productPrice"
          />
        </div>
        <div class="form-group">
          <label for="productQuantity">Quantity</label>
          <input
            type="number"
            class="form-control"
            id="productQuantity"
            [(ngModel)]="currentProduct.productQuantity"
            name="productQuantity"
          />
        </div>
      </form>
      <button class="btn btn-danger" (click)="deleteProduct()">Delete</button>
      <button class="btn btn-success" (click)="updateProduct()">Update</button>
      <p>{{ message }}</p>
    </div>
  </div>
  <div *ngIf="viewMode">
    <h4>Product Details</h4>
    <div>
      <label><strong>Product Name:</strong></label>
      {{ currentProduct.productName }}
    </div>
    <div>
      <label><strong>Description:</strong></label>
      {{ currentProduct.productDescription }}
    </div>
    <div>
      <label><strong>Price:</strong></label> {{ currentProduct.productPrice }}
    </div>
    <a
  class="btn btn-warning btn-sm d-flex align-items-center"
  [routerLink]="['/products', currentProduct.productId]"
>
  <i class="fas fa-edit me-2"></i> Edit
</a>

  </div>
</div>

<ng-template #noProduct>
  <p>Cannot access this Product...</p>
</ng-template>
